:root {
  --main-blue-color: #334e70;
}
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #666666;
}
html, body {
  margin: 0;
  padding: 0;
}
/*#####################################################*/
header {
  background-color: #fff;
}
#logo {
  color: #222;
}
#navigation {
  margin: auto;
  display: flex;
}
#navigation #left {
  flex: 1;
  color: #222;
  font-size: 18px;
  padding: 20px;
}
#navigation #right {
  display: flex;
}
#navigation #right .item {
  margin: 0 10px;
  padding: 20px;
}
#navigation #right .item a {
  color: #222;
  font-size: 18px;
  text-decoration: none;
}
/*#####################################################*/
#wrapper {
  max-width: 1000px;
  margin: auto;
}
#wrapper.text {
  line-height: 1.4;
  margin: 40px auto;
}
#hero {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient( rgba(51, 78, 112, 0.9), rgba(51, 78, 112, 0.9) ),url(https://images.unsplash.com/photo-1518600506278-4e8ef466b810?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=858391bd28bf4aadaa5b3e0750edb485&auto=format&fit=crop&w=1293&q=80);
  background-position: center center;
  background-size: cover;
}
#hero #hero_text {
  padding: 40px 20px;
}
#hero #hero_text label {
  color: #fff;
  display: block;
  font-size: 18px;
  line-height: 1.4;
}
#hero #hero_text label.big {
  font-size: 40px;
  margin-bottom: 20px;
  line-height: unset;
}
/*#####################################################*/
.button {
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #fff;
  padding: 10px;
  display: inline-block;
  font-weight: 800;
  margin-top: 40px;
  color: var(--main-blue-color);
  border-radius: 5px;
  cursor: pointer;
}
#content {
  max-width: 1040px;
  margin: 40px auto;
}
#content #bubble_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#content #bubble_wrapper .item {
  display: flex;
  margin: 20px;
}
#content #bubble_wrapper .item .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #eee;
  margin-right: 10px;
}
#content #bubble_wrapper .item .text {
  width: 220px;
  padding: 0px 10px;
}
.subheadline {
  margin: 0px 20px 20px 20px;
  font-size: 25px;
}
.subtext {
  margin: 0 20px 10px 20px;
  line-height: 1.4;
  font-size: 18px;
}
#pageHeading {
  font-size: 30px;
  padding: 20px;
  text-align: center;
  background-color: var(--main-blue-color);
  color: #fff;
}
#ueberBox {
  display: flex;
  margin: 40px 0px;
}
#ueberBox .right {
  padding-left: 20px;
}
.button.intext {
  margin: 10px 20px 0px;
  background-color: var(--main-blue-color);
  color: #fff;
}
/*#####################################################*/
#footer {
  background-color: #333;
}
#footer #wrapper {
  display: flex;
  justify-content: space-between;
  padding: 40px 0px;
}
#footer #wrapper div {
  color: #fff;
  padding: 0px 20px;
  line-height: 1.4;
}